

services:
  nginx:
    depends_on:
      - nuxt
    image: nginx:stable-alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./logs:/var/log/nginx/
    restart: always

  nuxt:
    build: ./nuxt
    environment:
      DATABASE_URL: postgresql://admin:Cosmos1973@193.227.240.14:5432/madde_db?schema=public
      NUXT_SESSION_PASSWORD: password-with-at-least-32-characters
    expose:
      - '3000'
    restart: always